.chat_input {
  display: flex;
  margin: 20px;
  position: relative;
  top: -10px;

  &__emoji {
    color: grey;
    margin-right: 15px;
    font-size: 25px;
    cursor: pointer;

    i.anticon {
      margin-top: 11px;
    }
    &_picker{
      position: absolute;
      bottom: 50px;
      z-index: 1;
      box-shadow: 5px 5px 10px #bfbfbf;
    }

  }

  //.ant-btn-circle {
  //  i.anticon {
  //    cursor: pointer;
  //    font-size: 20px;
  //  }
  //}

  &__actions {
    display: flex;
    align-items: center;
    width: 90px;
    justify-content: space-between;
    margin-left: 15px;
  }

  input {
    padding: 6px 11px 8px;
    font-size: 14px;
    &:focus {
      box-shadow: none;
    }
  }
}