@import '../../styles/variables';

.dialogs {
  &__item {
    $item: &;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    //????
    //width: 550px;
    //background: #fff;
    padding: 10px 10px 15px 10px;
    //border-right: map-get($primary, light) 3px solid;

    &_read, &_delivered {
      position: relative;
      bottom: 0;
      margin-left: auto;
      right: 2px;
    }

    &_unread {
      position: absolute;
      right: 0;
      bottom: -13px;
      background: map-get($primary, main);
      color: #fff;
      font-weight: bold;
      //width: 100%;
      //min-width: 18px;
      //width: 18px;
      //height: 18px;
      //border-radius: 30px;
      font-size: 11px;
      text-align: center;
      //line-height: 17px;
      //box-shadow: 0 0 0px 3px #fff;
    }

    //&_avatar {
    //  position: relative;
    //  top: 0px;
    //  flex: 0 0 45px;
    //  width: 45px;
    //  height: 45px;
    //  margin-right: 10px;
    //
    //  img {
    //    width: 100%;
    //    height: 100%;
    //    border-radius: 50%;
    //  }
    //}

    //&_online {
    //  #{$item}_avatar {
    //    &::before {
    //      display: block;
    //      position: absolute;
    //      bottom: -2px;
    //      right: 0;
    //      content: "";
    //      background-color: #00c980;
    //      border-radius: 30px;
    //      width: 13px;
    //      height: 13px;
    //      border: 3px solid #fff;
    //    }
    //  }
    //}

    &_info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;

      &_top {
        display: flex;

        &__username {
          font-weight: map-get($font, bold);;
          font-size: 16px;
          flex: 1;
          margin-bottom: .6rem;
        }

        &__date {
          opacity: 0.5;
        }
      }

      &_bottom {
        position: relative;
        display: flex;

        p {
          opacity: 0.5;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 90%;
          height: 1.2em;
          white-space: nowrap;
          position: absolute;
          top: -2px;
        }


      }
    }
  }

  &__item{
    &:hover, &.active {
      background-color: #f3f7ff;
      cursor: pointer;
    }
  }

}